.first {
  background-image: url("/assets/images/bg/bg_studion.jpg");
  background-size: cover;
  background-position:center;
	background-repeat: no-repeat;
}
.second {

}
.third {
  background-image: url("/assets/images/bg/rental.jpg");
  background-size: cover;
  background-position:center;
	background-repeat: no-repeat;
}
.logga {
  background-image: url("/assets/images/logga/studionjmbl.png");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* force scrollbar, prevents initial gap */
html { overflow-y: scroll; }

.image-wrapper, .gallery-sizer { width: 50%; }

.image-gallery { display: block; }
.image-gallery .image-wrapper { float: left; padding: 3px; }
.image-gallery .image-wrapper .image { width: 100.1%; width: calc( 100% + 1px ); height: 100%; }
.image-gallery:after { content: ''; display: block; clear: both; }

.caption { position: static; color: #AAA; }
