.first {
  background-image: url("/assets/images/bg/bg_studion.jpg");
  background-size: cover;
  background-position:center;
	background-repeat: no-repeat;
}
.second {

}
.third {
  background-image: url("/assets/images/bg/rental.jpg");
  background-size: cover;
  background-position:center;
	background-repeat: no-repeat;
}
.logga {
  background-image: url("/assets/images/logga/studionjmbl.png");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}
