<!DOCTYPE html>
<html lang="sv">
  {% include head.html %}
  <body class="{{ page.body_class }} sans-serif animated fadeIn">
    <div class="helvetica">
      {% include header.html %}

      {{ content }}
      <footer class="w-100 ph3-ns bg-black-90 white tc">
        <div class="cf ph2-ns mw6 center">
          <article class="fl w-100 w-third-ns pa2">
            <h4 class="f5 ma2 fw4">Krister Johansson </h4>
            <span class="f7 f6-l db link dim white-60"><a href="mailto:{{ 'krister@studion.se' | encode_email }}" class="db link dim white-60"
              title="Contact me">e-post Krister</a>

            </span>
            <span class="f7 f6-l di">
            </span>
            <a href="tel:+46 709439072" class="db pv3 link dim white-60" title="Ring Krister">
              +46 709439072
            </a>
          </article>
          <article class="fl w-100 w-third-ns pa2">
            <h4 class="f5 ma2 fw4">Studion JMBL AB</h4>
            <span class="f7 f6-l db ">Hållingsgatan 15</span>
            <span class="f7 f6-l ">504 35  Borås </span>
            <a class="db pv3 link dim white-60" title="Ring Studion" href="tel:+46 33 108990">
              +46 33 108990
            </a>
          </article>
          <article class="fl w-100 w-third-ns pa2">
            <h4 class="f5 ma2 fw4">Pierre Eliasson</h4>
            <span class="f7 f6-l db "><a href="mailto:{{ 'pierre@studion.se' | encode_email }}" class="db link dim white-60" title="Contact me">e-post Pierre</a></span>
            <span class="f7 f6-l "></span>
            <a href="tel:+46 705120662" class="db pv3 link dim white-60" title="Ring Pierre">+46 705120662</a>
          </article>
        </div>

        <div class="dt dt--fixed w-100" >
          <div class="dn dtc-ns v-mid">
            <p class="f7 dib pr3 mb3">
             
            </p>
          </div>

        </div>
        <div class="db dn-ns">
          <p class="f7 mt4 tc">
            Copyright © Studion 
          </p>
        </div>
      </footer>

  </div>
  </body>
</html>
