---
layout: default
support: [jquery, gallery]
---
<div class="dt w-100 bg-light-gray">

  <nav class="fl w-100 bg-white-80 cf">
    <a href="/"><img src="/assets/images/logga/studionjmbl.png" alt="Studion JMBL"></a>
  <div class="tc pa2 bg-black-80">
   <!-- <a class="link dim white f6 f3-ns dib mr2 mr4-m mr5-l" href="/portfolio/krister" title="Krister">Krister Portfolio</a>-->
    <a class="link dim white f6 f3-ns dib" href="/portfolio/pierre" title="Pierre">Pierre Portfolio</a>
  </div>
  </nav>
</div>
<!--<h1 class="gallery-title">{{ page.title }}</h1>-->
<div class="dt w-100 bg-dark-gray">

{{ content }}
</div>
